<launch>
    <arg name="gui" default="true"/>
    <group if="$(arg gui)" ns="gc">
        <node name="gui" pkg="ground_control" type="ground_control_gui_node.py" output="screen" />
        <node name="republish" pkg="ground_control" type="republish_node" />
    </group>
    <node name="joy" pkg="joy" type="joy_node" ns="gc" />
</launch>
